<% layout("layouts/boilerplate") %>

<!-- About -->

<section id="browseArticles">
  <div class="gridContainer">
    <div class="browsingContainer">
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div>
          <img src="<%= imagePath%>" alt="" />
        </div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>
      <article class="card browsing-card cat-<%=category%>">
        <div>
          <div class="category category-<%=category%>">
            <%=category.toUpperCase()%>
          </div>
          <h3 class="md-heading">Exciting Article Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
            hic debitis, quod consequatur dolor tenetur dignissimos praesentium
            tempore, et minus soluta accusamus neque. Pariatur, inventore.
          </p>
        </div>
        <div><img src="<%= imagePath%>" alt="" /></div>
      </article>

      <aside class="card bg-primary">
        <h3>Join Our Community</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
          illum.
        </p>
        <a href="#" class="btn btn-dark btn-block">Join Now</a>
      </aside>

      <aside class="card bg-dark">
        <h3>Advertisement One</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
          illum.
        </p>
        <a href="#"
          ><img src="/Images/arcade1.jpg" alt="arcade" class="advert"
        /></a>
      </aside>

      <aside class="card bg-secondary">
        <h3>Popular Article Link</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur,
          illum.
        </p>
        <a href="/article/General" class="article-links">Read More..</a>
      </aside>

      <aside class="card bg-dark">
        <h3>Advertisement Two</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore
          dolorum sequi veniam odit ipsam temporibus quam distinctio,
          voluptates, illo vitae fugiat inventore consequuntur commodi deleniti
          nemo nesciunt totam repellat minima?
        </p>
        <a href="/article/General" class="article-links">Read More..</a>
      </aside>
    </div>
  </div>
</section>
